/* 
    typography-start
*/

.ag-p-1 {
    font-family: var(--ag-font-1);
    font-weight: 400;
    font-size: 17px;
    color: var(--ag-clr-p-1);
    line-height: 160%;
    margin-bottom: 0;
}


.ag-h-1 {
    font-family: var(--ag-font-1);
    font-weight: 600;
    color: var(--ag-clr-h-1);
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.ag-subtitle-1 {
    font-family: var(--ag-font-1);
    background-color: var(--ag-clr-h-1);
    display: inline-flex;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    padding: 11px 12px;
    padding-left: 25px;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #fff;
        top: 18px;
        left: 12px;
    }

    &:is(.has-v3) {
        background-color: rgb(36 36 38 / 10%);
        color: var(--ag-clr-h-1);

        &::after {
            background-color: var(--ag-clr-h-1);
        }
    }
}

.ag-sec-title-1 {
    font-family: var(--ag-font-1);
    font-weight: 600;
    line-height: 120%;
    font-size: 48px;
    letter-spacing: -0.03em;
    margin-bottom: 0;

    span {
        opacity: 60%;
        display: inline;
    }
    
    @media #{$xl} {
        font-size: 42px;
    }
    
    @media #{$lg} {
        font-size: 38px;
    }

    @media #{$md} {
        font-size: 34px;
    }

    @media #{$xs} {
        font-size: 28px;
    }

    @media #{$sm} {
        font-size: 32px;
    }
}


/* 
    typography-end
*/

