/* 
    services-1-start
*/
.ag-services-1 {
    &-sec-title {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .left {
            max-width: 650px;
        }

        .right {
            max-width: 410px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.46fr 1fr;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }


    }
    
    &-tabs {
        &-btn {
            border-left: 2px solid #DFDFDF;
            .nav-item {
                border-bottom: 1px solid #DFDFDF;

                &:nth-child(1) {
                    border-top: 1px solid #DFDFDF;
                }
            }

            .nav-link {
                width: 100%;
                text-align: left;
                font-size: 32px;
                display: flex;
                align-items: center;
                gap: 16px;
                color: rgb(75 75 75 / 70%);
                padding: 30px 30px;
                background-color: transparent;
                transition: .4s var(--ag-cube-1);
                position: relative;
                z-index: 1;

                @media #{$xl,$lg,$md} {
                    font-size: 22px;
                    padding: 24px 20px;
                }

                @media #{$xs} {
                    font-size: 22px;
                    padding: 24px 20px;
                    flex-wrap: wrap;
                }

                @media #{$sm} {
                    font-size: 22px;
                    padding: 24px 20px;
                    flex-wrap: nowrap;
                }

                &::after {
                    content: "";
                    width: 8px;
                    height: 0%;
                    position: absolute;
                    top: 0;
                    left: -2px;
                    background-color: var(--ag-clr-pr-1);
                    transition: .4s var(--ag-cube-1);
                }

                .icon {
                    background: #EAEAEA;
                    border-bottom: 3px solid rgba(75, 75, 75, 0.1);
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 12px;
                    width: 60px;
                    height: 60px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        transition: .4s var(--ag-cube-1);
                    }
                }

                .number {
                    font-size: 16px;
                    margin-top: -10px;
                    font-weight: 400;
                }

                &:is(.active) {
                    color: var(--ag-clr-h-1);
                    &::after {
                        height: 100%;
                    }
                    .icon {
                        background-color: var(--ag-clr-h-1);

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }

        &-item {
            height: 540px;
            overflow: hidden;
            border-radius: 32px;
            position: relative;
            z-index: 1;

            .content-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: rgba(78, 78, 78, 0.85);
                box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.25);
                border-radius: 32px 32px 0px 0px;
                padding: 36px 36px;
                z-index: 1;

                @media #{$xl,$lg,$md,$xs} {
                    padding: 36px 22px;
                }
            }

            .img-elm {
                width: 100%;
                height: 100%;

                img {
                    transition: .5s var(--ag-cube-1);
                }
            }

            .title {
                color: #fff;
                font-size: 24px;
                border-bottom: 1px solid rgb(255 255 255 / 40%);
                padding-bottom: 16px;
                margin-bottom: 16px;
                transition: .5s var(--ag-cube-1);

                &:hover {
                    color: var(--ag-clr-pr-1);
                }
            }

            .disc {
                color: #fff;
                margin-bottom: 32px;
            }

            .list-elm {
                display: inline-flex;
                gap: 8px;
                flex-wrap: wrap;

                li {
                    color: #fff;
                    font-size: 14px;
                    background-color: rgb(255 255 255 / 15%);
                    border-radius: 32px;
                    padding: 7px 12px;
                    border: 1px solid rgb(255 255 255 / 30%);
                    border-color: transparent;
                    transition: .4s var(--ag-cube-1);
                    &:hover {
                        background-color: var(--ag-clr-pr-1);
                    }
                }
            }

            &:hover {
                .img-elm {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }


    }
    
    
    

    
    

    
}


/* 
    services-1-end
*/