.ag-step-1 {
    &-wrap {
        display: grid;
        gap: 14px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

    }

    &-card {
        .icon-x-title {
            background-color: var(--ag-clr-pr-1);
            border-radius: 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            padding-right: 20px;

            .icon {
                width: 82px;
                height: 82px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                background-color: #F96E53;
                border-radius: 20px;
                border: 2px solid #fff;
            }

            .title {
                font-size: 20px;
                color: #fff;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 18px;
                }
            }
            
        }

        .content-wrap {
            background-color: #fff;
            border-radius: 24px;
            padding: 32px 32px;
            display: flex;
            flex-direction: column;
            min-height: 338px;
            border: 1px solid #EBEBEB;
            position: relative;
            z-index: 2;

            @media #{$xl,$lg,$md,$xs} {
                padding: 32px 22px;
            }
        }

        .disc {
            font-size: 16px;
            margin-bottom: auto;
        }

        .time {
            opacity: 80%;
        }

        .subtitle {
            font-size: 18px;
            margin-bottom: 6px;
        }

        &:nth-child(even) {
            .content-wrap {
                background: linear-gradient(180deg, #323232 0%, #010101 100%);
                border-color: transparent;
            }

            .disc, .time, .title, .subtitle {
                color: #fff;
            }

            .icon-x-title {
                background: linear-gradient(0deg, #323232 0%, #010101 100%);

                .icon {
                    background-color: #313131;
                }
            }
        }
    }
}

/* 
    step-2-start
*/
.ag-step-3 {
    &-sec-title {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .left {
            max-width: 600px;
        }

        .right {
            max-width: 416px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
    }
}
/* 
    step-2-end
*/

