/* 
    team-1-start
*/
.ag-team-1 {
    &-area {
        background-color: #1D1D1D;
        margin-left: 32px;
        margin-right: 32px;
        border-radius: 48px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.03fr;
        gap: 12px;

        @media #{$over} {
            margin-left: -180px;
            margin-right: -180px;
        }

        @media #{$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }

        &-left {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
        }
    }

    &-member {
        background-color: #18181B;
        border-radius: 32px;
        padding: 8px;

        .img-elm {
            height: 416px;
            border-radius: 24px;
            margin-bottom: 8px;
            position: relative;
            z-index: 1;
        }

        .social-link {
            position: absolute;
            bottom: -70px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(0, 0, 0, 0.004);
            border-radius: 100px;
            display: flex;
            padding: 8px;
            backdrop-filter: blur(3px);
            border: 1px solid rgb(255 255 255 / 20%);
            gap: 2px;
            transition: .4s var(--ag-cube-1);

            &-single {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(255 255 255 / 20%);
                border-radius: 50%;
                color: #fff;
                transition: .4s var(--ag-cube-1);

                &:hover {
                    background-color: var(--ag-clr-pr-1);
                }
            }
            
        }

        .content-wrap {
            background-color: #1D1D1D;
            border-radius: 24px;
            padding: 16px 20px;
        }

        .name {
            color: #fff;
            font-size: 20px;
            margin-bottom: 6px;
        }
        .bio {
            opacity: 80%;
            color: #fff;
        }

        &:hover {
            .social-link {
                bottom: 10px;
            }
        }
    }

    &-sec-title {
        text-align: right;

        .ag-subtitle-1 {
            background: #363637;
     
        }

        &-text {
            font-family: var(--ag-font-2);
            color: #fff;
            font-weight: 600;
            font-size: 90px;
            text-transform: uppercase;
            letter-spacing: -0.04em;
            margin-bottom: 20px;

            @media #{$xxxl} {
                font-size: 80px;
            }

            @media #{$xxl} {
                font-size: 55px;
            }

            @media #{$xl} {
                font-size: 45px;
            }
            
            @media #{$lg} {
                font-size: 38px;
            }
        
            @media #{$md} {
                font-size: 34px;
            }
        
            @media #{$xs} {
                font-size: 28px;
            }
        
            @media #{$sm} {
                font-size: 32px;
            }
        }

        .sec-disc {
            color: #fff;
            opacity: 80%;
        }
    }
    

    &-gallery {
        position: relative;
        z-index: 1;

        &-img {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 12px;


            .single-img {
                border-radius: 20px;
                background-color: #18181B;
                padding: 8px;
                height: 200px;

                
                img {
                    border-radius: 16px;
                }
            }
        }

        &-btn {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            opacity: 0;
            transition: .4s var(--ag-cube-1);

            .ag-sd-btn-1 {
                color: #fff;

                span {
                    &::after {
                        background-color: #fff;
                    }
                }
            }
        }

        &:hover {
            .ag-team-1-gallery-btn {
                opacity: 1;
            }
        }
    }
    
    
}



/* 
    team-1-end
*/