/* 
    testimonial-2-start
*/
.ag-testimonial-2 {
    &-area {
        background-color: #1E1E1F;
        border-radius: 60px;
        margin-left: 32px;
        margin-right: 32px;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .ag-sec-title-1 {
            color: #fff;
        }

        .sec-disc {
            color: #fff;
            opacity: 80%;
            max-width: 410px;
        }
    }


    &-wrap {
        display: flex;
        gap: 12px;
    }
    
    &-card {
        max-width: 480px;
        width: 100%;
        padding: 8px;
        background-color: #242426;
        border-radius: 32px;
        transition: .5s var(--ag-cube-1);
        flex: 0 0 auto;

        .card-top {
            background: #343436;
            border-radius: 28px;
            padding: 32px 32px;
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
            transition: .5s var(--ag-cube-1);
        }

        .rating-elm {
            font-size: 16px;
            color: #fff;
            display: flex;
            gap: 6px;
            margin-bottom: 20px;
        }

        .author-x-quote {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 32px 32px;
        }

        .author {
            display: flex;
            align-items: center;
            gap: 16px;

            &-img {
                width: 60px;
                height: 60px;
                border-radius: 20px;
                border: 2px solid #fff;
            }

            &-name {
                font-size: 18px;
                margin-bottom: 4px;
                color: #fff;
                transition: .5s var(--ag-cube-1);
            }
            
            &-bio {
                font-size: 16px;
                color: #fff;
                opacity: 50%;
                transition: .5s var(--ag-cube-1);
            }
            
        }
        .quote-icon {
            color: #DFDFDF;
            font-size: 40px;
        }

        .comment {
            color: #fff;
        }

        &:hover {
            background-color: #F5F5F5;

            .author-name {
                color: #000;
            }

            .author-bio {
                color: #000;
            }
        }
    }
    
    

    &-marquee {
        &::after {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(90deg, #1e1e1f 20%, transparent);
            z-index: 1;
            width: 30%;
            height: 100%;
        }
        &::before {
            content: "";
            top: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(-90deg, #1e1e1f 20%, transparent);
            z-index: 1;
            width: 30%;
            height: 100%;
        }
    }

    
    
}

/* 
    testimonial-2-end
*/