/* 
    home-page-css-start
*/

.ag-home-1 {
    background-color: #F5F5F5;
}



.ag-home-2 {
    background-color: #F5F5F5;


    .wa-back-to-top {
        background-color: var(--ag-clr-h-1);

        &:hover svg * {
            fill: var(--ag-clr-h-1);
        }
    }
}



/* 
    home-page-css-end
*/